/* ToggleSelectionBar.css */
.toggle-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 2rem 0;
}

.toggle-bar {
  display: flex;
  justify-content: center;
  background-color: #bfb3f3;
  border-radius: 30px;
  overflow: hidden;
  width: 80%;
}

.toggle-option {
  flex: 1;
  text-align: center;
  padding: 0.5rem 1rem;
  border-radius: 30px;
  cursor: pointer;
  color: #48127f;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.toggle-option.active {
  background-color: #6200ea;
  color: white;
}

.toggle-option:not(.active):hover {
  background-color: #b286f0;
}

.toggle-indicator {
  margin-top: 0.5rem;
  height: 3px;
  width: 100%;
  background-color: #6200ea;
  transition: transform 0.3s ease;
}

.toggle-indicator.quiz {
  transform: translateX(0%);
}

.toggle-indicator.leaderboard {
  transform: translateX(100%);
}
